In [60]:
import requests
import pandas as pd

def get_aoc_data(year: str, day_number: str, your_cookie: str):
    url = f'https://adventofcode.com/{year}/day/{day_number}/input'
    headers = {'user-agent': 'Mozilla/5.0', 'cookie': your_cookie}
    get_data = requests.get(url, headers=headers)
    data_returned = get_data.text.split('\n')
    data_dataframe = pd.DataFrame(columns=['data'], data=data_returned)
    return data_dataframe

In [66]:
#import the data
data = get_aoc_data(2022, 1, '_ga=GA1.2.671750781.1669911501; _gid=GA1.2.885796655.1669911501; ru=53616c7465645f5fc8e58e037801718862ed66d9550bf3d2c48dca47922ddee4; session=53616c7465645f5fecc76146c2528d3ed4205ec6112b1fd9c7f3c20e168b7a2851468e4cc7d0d04769b17ef6eab9d4a06a2c6f71b22d5af70f0d52bd0b0ce189; _gat=1')

In [68]:
# create a column to indicate if start of new elf's data
data['blank'] = [1 if data == '' else 0 for data in data.data]

In [72]:
#data['elf_id'] = [x+1 for x in data.data if data['blank'].item==1] 

#create an identifier for each elf
data['elf_id'] = data.blank.cumsum()

In [74]:
# convert the data to numeric to be able to sum
data['data'] = pd.to_numeric(data.data)

In [75]:
# summarize the data
data['calories'] = data.groupby('elf_id')[['data']].sum()

In [78]:
# return largest 3
df_top3 = pd.DataFrame(data.nlargest(3, 'calories'))

In [85]:
df_top3.head(1)

        data  blank  elf_id  calories
136  11123.0      0      13   75622.0

In [80]:
print(df_top3['calories'].sum())

213159.0